
div[class*='-1'] { -moz-column-count: 2; }
div[class*='-2'] { -moz-column-count: 3; -moz-column-gap: 2em;
	-moz-column-rule: 0.3em double silver;}

h3 { border-top:2px solid silver; border-bottom:2px solid silver; -moz-column-span: all; }

