body {background-color: silver; font-family: serif;}

ul {
	float: right;
	list-style-type: none;
}
li {
	display: inline;
	margin: 10px 10px 5px 5px;
}

@media (min-width: 400px) {
  html { background: #E0BA5A; }
}
@media (min-width: 600px) {
  html { background: #5AE678; }
}
@media (min-width: 800px) {
  html { background: #E1E8ED; }
}
/*For Navigation media query*/
@media(orientation: portrait){
    nav > ul{
        list-style-type: none;
        float: left;
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        text-align: center;
    }
    nav > ul > li {
        width: 90%;
        border-top: 1px solid black;
        clear: both;
    }
}
nav > ul > li > a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bolder;
    font-family: cursive;
}
@media screen and (orientation: landscape), print and (orientation: portrait){
    .container{
        font-weight: lighter;
    }
}


