body {background-color: silver}

/*@media screen and (max-width: 300px) {
    body {
        background-color: lime;
    }
  }*/

@media (min-width: 400px) {
  html { background: #E0BA5A; }
}
@media (min-width: 600px) {
  html { background: #5AE678; }
}
@media (min-width: 800px) {
  html { background: #E1E8ED; }
}



