body{
    background-image: url("../img/back2.jpeg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 900px;
}

/*h1 {background-image: url('../img/back1.jpeg'); 
	 height: 100px; width: 100%; }*/

.img1 {width: 150px; height: 100px; 
		background-position: right 10em bottom 50%;}

p.round {background-repeat: round; }

h2 {
	background-image: url('../img/monkey.svg'),
	url('../img/arundel.jpg');
	background-position: 85% 75%, 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 50%, auto auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-weight: bold;
	font-size: 360%;
	height: 350px;
	line-height: 1;
	padding: 25px;
	text-shadow: 0 0 1px black;
}