/*h1 { transform: rotate(-15deg); text-transform: skewX(15deg) skewY(-15deg); }*/
 .d3-parent {
-webkit-perspective: none;
perspective: none;
}
.trans-1 {
-webkit-transform: perspective(1000px) rotateX(30deg) rotateY(45deg);
transform: perspective(1000px) rotateX(30deg) rotateY(45deg);
}
.trans-2 {
-webkit-transform: perspective(250px) rotateX(30deg) rotateY(45deg);
transform: perspective(250px) rotateX(30deg) rotateY(45deg);
}
.trans-3 {
-webkit-transform: perspective(150px) rotateX(30deg) rotateY(45deg);
transform: perspective(150px) rotateX(30deg) rotateY(45deg);
}
.d3-parent:hover div {
-webkit-transform: rotate3d(1,1,1,0deg) perspective(200px);
transform: rotate3d(1,1,1,0deg) perspective(200px);
}